* {
    margin: 0;
    padding: 0;
}
h1  {
    text-align: center;
    color: slateblue;
}
ul {
    margin-left: 20px;
}
li {
    margin: 5px;
    color: #17171B;
}

.description {
    padding: 5px;
    margin: 20px;
    text-align: center;
    border: 2px solid red;
    background-color: azure;
}

#tut {
    color: red;
    font-size: 40px;
}

.information {
    margin: 30px;
    font-size: 24px;
}
.information p {
    color: darkblue;
    padding: 5px;
}