* {
    margin: 0;
    padding: 0;
}
h1  {
    text-align: center;
    color: slateblue;
}
ul {
    margin-left: 20px;
}
li {
    margin: 5px;
    color: #17171B;
    font-size: 16px;
}

.description {
    padding: 5px;
    margin: 20px;
    text-align: center;
    border: 2px solid rgba(37, 68, 155, 0.729);
    background-image: url(./bright-light-saturated-soft-abstract-background-beautiful-sunset-over-the-sea_156396-562.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#tut {
    color:#d13b88;
    font-size: 40px;
}

.information {
    margin: 30px;
    font-size: 24px;
}
.information p {
    color: #d13b88;
    padding: 5px;
}